header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* =========================== CTA ===========================*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =========================== HEADER SOCIALS ===========================*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* =========================== ME ===========================*/
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  border-radius: 5rem;
  overflow: hidden;
  padding: 2rem 0.4rem;
}

/* =========================== SCROLL DOWN ===========================*/
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* =================== MEDIA QUERIES(MEDIUL DEVICES) ================= */

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/* =================== MEDIA QUERIES(SMALL DEVICES) ================= */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}

/* LANGUAGE STYLING */

.lng_mode {
  scale: 1.5;
  margin-top: -90px;
  margin-left: 5%;
  position: fixed;
  z-index: 10000;
}

.lng_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: var(--color-bg-variant);
  border-radius: 200px;

  cursor: pointer;
  transition: 0.3s;
}
.lng_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: var(--color-primary);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.lng_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.lng_mode_input:checked + .lng_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  /* background: linear-gradient(180deg, #777, #3a3a3a); */
}
.lng_mode_label:active:after {
  width: 30px;
}

.lng_mode_label .lng_mode_label-pic {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.lng_mode_label .en-pic {
  left: 5px;
  transition: 0.3s;
}
.lng_mode_label .de-pic {
  left: 40px;
  transition: 0.3s;
}

/* TOGGLE LIGHT DARK MODE */
